<div style="text-align: left">
  <img src="{{urlImg}}" alt="Health 29">
      </br>
</div>   
<br>
<p style="text-align: left">{{namePlatform}} is a system that requires double authentication, that is, to log in to the platform the user will have to confirm it using the Authy application.</p>
<p style="text-align: left"><strong> What is Authy?</strong></p>
<p style="text-align: left">Authy is an application available for different devices: computer, mobile or tablet, which allows you to protect your {{namePlatform}} account, that is, it prevents unauthorized users from taking control of it.</p>
<p style="text-align: left">When the user creates a {{namePlatform}} account including an email and a phone number, the system will automatically create an Authy account with those same credentials that can be used in the devices where the user downloads the application and configures it with those credentials.</p>
<br>
<p style="text-align: left"><strong> Instructions to set up 2-factor authentication with Authy</strong></p>
<p style="text-align: left">With this, you will be able to use the Authy application to authorize the login to the {{namePlatform}}. </p>
<ol style="text-align: left">
  <li>Open the application store in your smartphone: 
    <p>a. For Android: Google play</p>
    <p>b. For iOS: Apple Store </p>
  </li>
  <li>Search and install 'Authy 2-Factor Authentication' .</li>
  <li>Verify you are downloading the ritght app, check this links:
    <p>For Android: <a href="https://play.google.com/store/apps/details?id=com.authy.authy"> Android </a></p>
    <p>For iOS: <a href="https://apps.apple.com/us/app/authy/id494168017"> iOS </a></p>
  </li>
  <li>Open Authy </li>
  <li>Configure Authy using the same email and phone number provided upon registration in the platform.
    <p>a. Enter your phone number and country code.</p>
    <p>b. Enter your email address, if requested.</p>
    <p>c. Request the confirmation code by SMS.</p>
  </li>
  <li> Log in into {{namePlatform}} and indicate in the pop-up window that you already have the application installed.  </li>
  <li> While waiting to login, open Authy in your smartphone and allow the access by clicking on the last notification shown. </li>
</ol>
<br>
<p style="text-align: left"><strong> Multidevices </strong></p>
<p style="text-align: left">In case you want to use several devices or that many people can authorize the login to a {{namePlatform}} account, this would be the workflow</p>
<ol style="text-align: left">
  <li>One of them creates the {{namePlatform}} account introducing the correspondent telephone number. An associated Authy account is automatically created. We will refer to this person as the main individual. </li>
  <li>The main individual downloads the Authy app as explained before and finishes the registration process.</li>
</ol>
<p style="text-align: left">Now, in order to allow other devices or people to access the same {{namePlatform}} account, the steps to follow would be:</p>
<ol style="text-align: left">
  <li>The main individual accesses his/her Authy account.</li>
  <li>The main individual activates the <a href="https://support.authy.com/hc/en-us/articles/360016317013-Enable-or-Disable-Authy-Multi-Device"> multi-access option </a></li>
  <li>The other members download and install the Authy app and add those devices to the main individual’s Authy account. And they request the confirmation code by SMS.</li>
  <li>The main individual grants access to those devices</li>
</ol>
<p style="text-align: left">For security reasons, it is better to de-activate multi-access. This will not remove the devices, but will prevent others from adding new devices</p>
<br>
<p style="text-align: left"><strong> Help </strong></p>
<p style="text-align: left">If you have any problems you can <a href="https://authy.com/help/"> go to Authy's help</a> or contact <a href="mailto:{{adminEmail}}"> {{namePlatform}}'s administrators.</a></p>

