<div style="text-align: left">
  <img src="{{urlImg}}" alt="Health 29">
      </br>
</div>
<br>
<p style="text-align: left">{{namePlatform}} es un sistema que requiere doble autenticación, es decir, para entrar en la plataforma el usuario tendrá que confirmarlo mediante la aplicación Authy.</p>
<p style="text-align: left"><strong> ¿Qué es Authy? </strong></p>
<p style="text-align: left">Authy es una aplicación disponible para diferentes dispositivos: ordenador, móvil o tableta, que permite proteger la cuenta de {{namePlatform}}, es decir, impide que usuarios no autorizados tomen el control de la misma.</p>
<p style="text-align: left">Cuando el usuario crea una cuenta en {{namePlatform}} que incluye un correo electrónico y un número de teléfono, el sistema creará automáticamente una cuenta de Authy con esas mismas credenciales que podrá utilizar en los dispositivos donde el usuario descargue la aplicación y la configure con esas credenciales.</p>
<br>
<p><strong> Instrucciones para establecer la doble autenticación con Authy</strong></p>
<p style="text-align: left">Con esto, podrás usar la aplicación Authy para autorizar el ingreso a la {{namePlatform}}.  </p>
<ol style="text-align:left;">
  <li> Abrir la tienda de aplicaciones en tu smartphone: 
    <p>a. Para Android: Google play</p>
    <p>b. Para iOS: Apple Store </p>
  </li>
  <li>Buscar e instalar 'Authy 2-Factor Authentication' .</li>
  <li>Verifica que estás descargando la aplicación correcta, comprueba estos enlaces: 
    <p>Para Android: <a href="https://play.google.com/store/apps/details?id=com.authy.authy"> Android </a></p>
    <p>Para iOS: <a href="https://apps.apple.com/us/app/authy/id494168017"> iOS </a></p>
  </li>
  <li>Abrir la app Authy </li>
  <li>Configurar Authy utilizando el mismo correo electrónico y número de teléfono proporcionados al registrarse en la plataforma. 
    <p>a. Introduzca su número de teléfono y el código de país.</p>
    <p>b. Introduzca su dirección de correo electrónico, si se le solicita.</p>
    <p>c. Solicite el código de confirmación por SMS.</p>
  </li>
  <li> Iniciar sesión en la {{namePlatform}} e indicar en la ventana emergente que ya está la aplicación instalada.  </li>
  <li> En el tiempo de espera para iniciar sesión, abrir Authy en el  smartphone y permitir el acceso haciendo clic en la última notificación mostrada. </li>
</ol>
<br>
<p style="text-align: left"><strong> Multidispositivo </strong></p>
<p style="text-align: left">En caso de que quiera usar varios dispositivos o que muchas personas puedan autorizar el ingreso a una cuenta de la {{namePlatform}}, este sería el flujo de trabajo:</p>
<ol style="text-align: left">
  <li>Uno de ellos crea la cuenta en {{namePlatform}} introduciendo el número de teléfono correspondiente. Una cuenta de Authy asociada se crea automáticamente. Nos referiremos a esta persona como el individuo principal.</li>
  <li>El individuo principal descarga la aplicación de Authy como se ha explicado antes y termina el proceso de registro.</li>
</ol>
<p style="text-align: left">Ahora, para permitir que otros dispositivos o personas accedan a la misma cuenta de la {{namePlatform}}, los pasos a seguir serían:</p>
<ol style="text-align: left">
  <li>El individuo principal accede a su cuenta de Authy.</li>
  <li>El individuo principal activa <a href="https://support.authy.com/hc/en-us/articles/360016317013-Enable-or-Disable-Authy-Multi-Device"> la opción de multidispositivo </a></li>
  <li>Los demás miembros descargan e instalan la aplicación de Authy y añaden esos dispositivos a la cuenta de Authy del individuo principal. Y solicitan el código de confirmación por SMS.</li>
  <li>La persona principal concede el acceso a esos dispositivos.</li>
</ol>
<p style="text-align: left">Por razones de seguridad, es mejor desactivar el multiacceso. Esto no eliminará los dispositivos, pero evitará que otros añadan nuevos dispositivos.</p>
<br>
<p style="text-align: left"><strong> Ayuda </strong></p>
<p style="text-align: left">Si tienes algún problema puedes  <a href="https://authy.com/help/"> consultar la ayuda de Authy</a> o contactar con <a href="mailto:{{adminEmail}}"> los administradores de la {{namePlatform}}</a></p>



