<div style="text-align:left;">
  <img src="{{urlImg}}" alt="Health 29">
      </br>
</div>
<br>
<p style="text-align: left"></p>Inloggen op het {{namePlatform}} vereist een dubbele authenticatie ter beveiliging van je account, d.w.z. om in te loggen op het platform zal de gebruiker het moeten bevestigen met behulp van de Authy-app.</p>
<br>
<p><strong> Schakel de 2-Factor Authenticatie (2FA) met de Authy-app in m.b.v. de volgende instructies </strong></p>
<p style="text-align:left;">Met de Authy-app kun je je account bij het {{namePlatform}} beter beveiligen   </p>
<ol style="text-align:left;">
  <li>Ga naar de App Store op je mobiele telefoon: 
    <p>a. Voor Android: Download de Authy-app van Google Play </p>
    <p>b. Voor iOS: Download de Authy-app uit de App Store </p>
    <p> Om te controleren of je de juiste app download, klik je hier op de link voor <a href="https://play.google.com/store/apps/details?id=com.authy.authy"> Android </a> of <a href="https://apps.apple.com/us/app/authy/id494168017"> iOS </a></p>
  </li>
  <li>Open the Authy-app nadat je deze hebt gedownload  </li>
  <li>De app wordt gestart met het scherm Set Up.Voer het volgende in: je landcode, hetzelfde telefoonnummer en het e-mailadres dat je hebt ingevuld bij je registratie op het {{namePlatform}}.  
  </li>
  <li> Selecteer de gewenste authenticatiemethode: Kies SMS </li>
  <li> Voer de verificatiecode in die je ontvangen hebt per SMS  </li>
  <li> Log in op het {{namePlatform}} en geef aan dat je al de Authy-app geïnstalleerd hebt.</li>
  <li> Het platform stuurt nu een bericht naar je Authy-app. Open dit bericht en klik op “approve”. </li>
</ol>
<br>
<p style="text-align: left"><strong> Meerdere apparaten/gebruikers op 1 account </strong></p>
<p style="text-align: left">In het geval dat je meerdere apparaten wilt gebruiken of dat meerdere mensen willen inloggen op hetzelfde account, volg je de volgende stappen:</p>
<ol style="text-align: left">
  <li>Een van hen maakt de {{namePlatform}}-account aan en introduceert het corresponderende telefoonnummer. Deze persoon gebruikt het primaire toestel</li>
  <li>De persoon downloadt de Authy-app zoals eerder uitgelegd en beëindigt het registratieproces.</li>
</ol>
<p style="text-align: left">Om andere apparaten of mensen toegang te geven tot dezelfde {{namePlatform}}-account, volg je de volgende stappen</p>
<ol style="text-align: left">
  <li>Op het primaire toestel activeer je in de Authy-app de optie voor <a href="https://support.authy.com/hc/en-us/articles/360016317013-Enable-or-Disable-Authy-Multi-Device">‘multi-device’</a>. Deze vind je bij instellingen/devices in de Authy-app: ‘Allow multi-device’.</li>
  <li>De andere personen downloaden en installeren de Authy-app. Hierop vullen ze het telefoonnummer in van het primaire toestel. Vervolgens vragen ze de verificatiecode op per SMS</li>
  <li>Vul deze verificatiecode in in je eigen Authy-app</li>
  <li>Log in op het {{namePlatform}} op je eigen toestel en geef aan dat je al de Authy-app geïnstalleerd hebt</li>
  <li>Het platform stuurt nu een bericht naar je Authy-app op je eigen toestel. Open dit bericht en klik op “approve”.</li>
</ol>
<p style="text-align: left">Om veiligheidsredenen kun je het beste de multi-device in de Authy app op het laatst weer deactiveren. Dit zal de toegevoegde apparaten niet verwijderen, maar zal voorkomen dat anderen nieuwe apparaten kunnen toevoegen</p>
<br>
<p style="text-align: left"><strong> Hulp </strong></p>
<p style="text-align: left">Als je problemen hebt, kun je naar de <a href="https://authy.com/help/"> hulp van Authy gaan </a> of contact opnemen met de <a href="mailto:{{adminEmail}}"> beheerders van het {{namePlatform}}</a></p>



