<h3><b>A patient has asked something that is not in the list of questions</b></h3>
<br>
<p>User data:  {{user.name}}/{{user.mail}}</p>
<p>Language: {{lang}}</p>
<p><b>User Question: {{userQuestion}}</b></p>
<p>Related Questions: {{question}}</p>
<p>Answer provided : {{answer}}</p>
<br>
<h4>Login to Data Platform: <a href="http://www.duchennedataplatform.org/pages/login">www.duchennedataplatform.org</a></h4>
