<div style="text-align:center;">
  <img src="{{urlImg}}" alt="Health 29">
      </br>
</div>
<p>Wir erhielten ein Konto Wiederherstellungsanforderung für {{email}}</p>
<p>Wenn Sie diese Anfrage initiiert haben, <a href="{{client_server}}/newpassword?email={{email}}&key={{key}}">klicken Sie auf diesen Link, um Ihr Passwort zurückzusetzen</a></p>
