<div style="text-align:center;">
  <img src="{{urlImg}}" alt="Health 29">
      </br>
</div>
<p>We hebben een aanvraag ontvangen om het wachtwoord opnieuw in te stellen voor {{email}}</p>
<p>Als u dit heeft aangevraagd, <a href="{{client_server}}/newpassword?email={{email}}&key={{key}}"> klikt u op deze link om uw wachtwoord opnieuw in te stellen</a></p>
