<div style="text-align:center;">
  <img src="{{urlImg}}" alt="Health 29">
      </br>
</div>
<p>Recebemos uma solicitação de recuperação de conta para {{email}}</p>
<p>Se você iniciou essa solicitação, <a href="{{client_server}}/newpassword?email={{email}}&key={{key}}">clique neste link para redefinir sua senha</a></p>
