<p>Nuevo caso de soporte:</p>
<p>ID: {{info._id}}</p>
<p>Email: {{email}}</p>
<p>Idioma: {{lang}}</p>
<p>Asunto: {{info.subject}}</p>
<p>Descripción: {{info.description}}</p>
<p>Ficheros: {{info.files}}</p>
<p>Fecha: {{info.date}}</p>
